.imageWrap {
    position: relative;
}



.ladle {
    position: absolute;
}

.pos1 {
    right: -26%;
    bottom: 12%;
}

.pos2 {
    right: 24%;
    bottom: 45%;

}


.mixButton {
    position: absolute;
}