.imageWrap {
    position: relative;
}



.ladle {
    position: absolute;
}


.pos1 {
    right: 10%;
    bottom: 45%;
}

.pos2 {
    right: 40%;
    bottom: 45%;

}


.mixButton {
    position: absolute;
}