.flow {
    display: flex;
    gap: 4;
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 99;
}

.stepWrap {
    display: flex;
    align-items: center;
    position: relative;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.line {
    width: 60px;
    height: 4px;
    background: #ddd;
    margin: 0 14px;
    transition: 0.3s;
}

.active {
    background: #ffb347;
    color: white;
    transform: scale(1.4);
    font-weight: bold;
}

.done {
    background: #2ea3f7;
    color: white;
}

.lineDone {
    background: #2ea3f7;
}
