.startBtn {
    width: 500px;
    height: 80px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #F2B873 0%, #FBCE99 100%);

    p {
        color: #FFF;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #D7801A;
        font-family: Inter;
        font-size: 32px;
        font-weight: bold;
    }
}

.endBtn {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background: #ff977a;
    animation: FloatVertical 1.3s infinite;

    p {
        color: #FFF;
        font-family: Inter;
        font-size: 19px;
        font-weight: bold;
    }
}

@keyframes FloatVertical {
    0% {
        transform: scale(1);
    }


    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}