.imageWrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.ingredients {
    position: absolute;
    bottom: 30%;
    left: 20%;
    object-fit: contain;
}

.knife {
    position: absolute;
    right: -10%;
    top: -80px;
    transform-origin: bottom center;
}


.knifeActive {
    animation: cutMotion 0.3s ease-in-out;
}

@keyframes cutMotion {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50% {
        transform: rotate(-25deg) translateY(20px);
    }
    100% {
        transform: rotate(0deg) translateY(0);
    }
}
