.imageWrap {
    position: relative;
}

.ingredients {
    position: absolute;
    bottom: 30%;
    left: 20%;
    object-fit: contain;
}

.knife {
    position: absolute;
    right: -6%;
    bottom: -20%;
}