.imageWrap {
    position: relative;
}



.potato {
    position: absolute;
    bottom: 30%;
    left: 20%;
}

.knife {
    position: absolute;
    right: -6%;
    bottom: -20%;
}

.cutButton {
    position: absolute;
}