.mainVisual {
    width: 100%;
    height: 100vh;
    background: no-repeat url(../../public/image/select/backSelect.png) center center /cover;
    overflow: hidden;
}

.titleWrap {
    position: relative;
    width: 1000px;
    height: 100px;
    margin: 100px auto 0;
}

.circle {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    border: 0.5px solid #a7a7a7;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: relative;
    font-size: 48px;
    text-align: center;
    line-height: 100px;
    border-radius: 60px;
    border: 3px solid #45886A;
    background: linear-gradient(91deg, #D8F1E6 0%, #EBFFF6 107.38%);
    overflow: hidden;
}

.title::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #BEDED1;
    clip-path:
        polygon(0 0,
            14% 0,
            30% 100%,
            0 100%);
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.charaScroll {
    max-width: 1000px;
    margin: auto;
}

.charaScroll :global(.splide__slide img) {
    transition: transform 0.3s ease;
    transform: scale(0.5);

}

.charaScroll :global(.splide__slide.is-active img) {
    transform: scale(1);
}


.block {
    margin-top: 50px;
    text-align: center;

}

.subMeg {
    color: #999;
    font-size: 24px;
    margin-bottom: 15px;
}


.startOverlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(3, 3, 3, 0.7);
    display: grid;
    place-items: center;
    pointer-events: none;
}


.startTitle {
    display: flex;
    gap: 14px;
    font-size: 110px;
    font-weight: bold;
}

.char {
    display: inline-block;
    color: #fff;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #DB4B4B;
    text-shadow: 1px 4px 5px rgba(255, 10, 10, 0.5);
    animation: pop 0.35s ease-out both;
    animation-delay: calc(var(--i) * 0.03s);
}

@keyframes pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}