.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-460px);
}


.title {
    margin-bottom: -70px;
    animation: 1.5s title;
}

.completeBtn {
    position: absolute;
    bottom: 60px;
    right: 400px;
}

@keyframes title {
    0% {
        opacity: 0;
        scale: calc(0);
    }


    100% {
        opacity: 100;
        scale: calc(1.3);
    }
}