.wrapper {
    position: relative;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title {
    margin-bottom: -40px;
    animation: 1.5s title;
    transform: translateY(-20px);
}

.cook{
    object-fit: contain;
}

.completeBtn {
    text-align: center;
    font-size: 32px;
    z-index: 99;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
}

.charaWrap {
    position: absolute;
    width: 100%;
    bottom: -240px;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.mouse,
.penguin,
.tiger,
.cat {
    animation: bound 0.6s ease-in-out infinite;

}

.mouse {
    animation-delay: 0s;
}

.penguin {
    animation-delay: 0.24s;
}

.tiger {
    animation-delay: 0.12s;
}

.cat {
    animation-delay: 0.36s;
}

@keyframes bound {

    0% {
        transform: translateY(3) scale(1);
    }

    50% {
        transform: translateY(-14px) scale(1.01);
    }

    100% {
        transform: translateY(3) scale(1);
    }

}


@keyframes title {
    0% {
        opacity: 0;
        scale: calc(0);
    }

    100% {
        opacity: 100;
        scale: calc(1.3);
    }
}