.wrapper{
    position: relative;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-460px);
}

.title {
    margin-bottom: -100px;
    animation: 1.5s title;
}

.completeBtn {
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    cursor: pointer;
}

.charaWrap {
    position: absolute;
    width: 100%;
    bottom: 190px;
    left: 0;
    display: flex;
    justify-content: space-between;
}

@keyframes title {
    0% {
        opacity: 0;
        scale: calc(0);
    }
    100% {
        opacity: 100;
        scale: calc(1.3);
    }
}