.mainVisual {
    width: 100%;
    height: 100vh;
    background: no-repeat url(../public/image/mainVisual.svg) center center /cover;
    overflow: hidden;
    position: relative;
}

.logo {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.btnWrap{
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.startBtn{
    display: inline-block;
    text-align: center;
    background: #efc054;
    border: #cd9106 3px solid;
    font-size: 32px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 16px 40px;
    text-decoration: none;
}

.animal {
    width: 100%;
    position: absolute;
    bottom: -20px;

    .mouse{
        position: absolute;
        bottom: -10px;
        left: 17%;
    }
    .tiger{
        position: absolute;
        bottom: -20px;
        right: 20%;
    }
    .cat{
        position: absolute;
        right: 0;
    }
}
