.contentsWrap {
    width: 100%;
    background: repeat url(/image/background.svg) center center /cover;
    display: flow-root;
}

.cardWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    max-width: 1200px;
    margin: 50px auto;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px 0;
    background: #F8F8F8;
    margin: 10px;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0.9);
    animation: card_animation 0.5s ease-out forwards;


    .ingredients {
        object-fit: contain;
        display: flex;
        justify-content: start;
        gap: 6px;
    }
}

.card:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 20%);
    transition: 0.5s;
}

@keyframes card_animation {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* cardが増えたら足していく_+0.2 */
.card:nth-child(1) {
    animation-delay: 0.3s;
}

.card:nth-child(2) {
    animation-delay: 0.5s;
}

.card:nth-child(3) {
    animation-delay: 0.7s;
}

.card:nth-child(4) {
    animation-delay: 0.9s;
}