.mainVisual {
    width: 100%;
    height: 100vh;
    background: no-repeat url(../../public/image/game/game_background.svg) center center /cover;
    overflow: hidden;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 270px;
}


.illustWrap {
    display: flex;
}

.chara {
    position: absolute;
    bottom: 5%;
    left: 10%;
    z-index: 1;
}


.click {
    position: absolute;
    left: 200px;
}