.dish{
    position: relative;
    padding-top: 60px;
}

.ladle{
    position: absolute;
    top: 230px;
    left: 55%;
    transform: translateX(-50%);
    object-fit: contain;
}

.pot_flip{
    position: absolute;
    right: 20;
}